.color1{
        background-color: #000035;
        padding-bottom: 300px;
        position: relative;
    }
    .workit{
        color: white;
        position: absolute;
        top: 8px;
        left: 35px;
        
    }

    .center{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .apply{
        color: white;
        font-weight: bold;
        text-decoration: underline;
        text-decoration-color: #5CFF5C;
        position: absolute;
        top: 8px;
        right: 35px;
    }

    .data{
        color: white;
        width: 200px;
    }

    .tailored{
        text-decoration: underline;
        text-decoration-color: #5CFF5C;
    }

    .learn{
        color: #0E0E55;
        font-weight: bold;
        background-color: #5CFF5C;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-right: 30px;
        padding-left: 30px;

    }

    .info{
        display: flex;
        justify-content: center; 
        margin-left: auto;
        margin-right: auto;     
    }

    .satisfaction, .decisions, .affordable{
        width: 210px;
        font-size: 16px;
    }

    .column{
        float: left;
        width: 20%;
        padding: 0px;
    }

    .color2{
        background-color: hsl(330, 100%, 98%);
        padding-bottom: 180px;
        padding-top: 20px;
    }

    .headshot{
        border-radius: 100%;
        width: 300px;   
    }

    .action{
        margin-bottom: 0px;
    }

    .louis{
        width: 300px;
        font-size: 12px;
    }

    .cta{
        color: white;
        
    }

    .access{
        color: #0E0E55;
        font-weight: bold;
        background-color: #5CFF5C;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-right: 30px;
        padding-left: 30px;
    }

    .company{
        background-color: #000035;
        padding-left: 30px;
        width: max-content;
        padding-bottom: 0px;
        
    }

    .merge{
        display: flex;
        float: left;
        margin-bottom: 40px;
    }