.color1{
        background-color: #000035;
        padding-bottom: 400px;
        position: relative;
    }
    .workit{
        color: white;
        position: absolute;
        top: 8px;
        left: 35px;
        
    }

    .center{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .apply{
        color: white;
        text-decoration: underline;
        text-decoration-color: #5CFF5C;
        position: absolute;
        top: 8px;
        right: 35px;
    }

    .data{
        color: white;
        width: 200px;
    }

    .tailored{
        text-decoration: underline;
        text-decoration-color: #5CFF5C;
    }

    .learn{
        color: #0E0E55;
        font-weight: bold;
        background-color: #5CFF5C;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-right: 30px;
        padding-left: 30px;
    }

    .info{
        display: flex;
        justify-content: center; 
        margin-left: auto;
        margin-right: auto;     
    }

    .circle{
        margin-left: 50px;
        text-align: center;
        border-radius: 50%;
        width: 34px;
        height: 34px;
        padding: 1px;
        border: 1px solid #000;
        color: #800080;
        font-weight: bold;
        font-size: 18px;
        margin-top: 10px; 
    } 
    
    .heading{
        color: #470047;
        font-size: 20px;
        font-weight: bold;
    }

    .longtalk{
        color: #470047;
        font-size: 18px;
        width: 60%;
    }

    .container{
        display: flex;
        justify-content: center;
        padding-left: 30px;
        background-color: hsl(330, 100%, 98%);
        padding-top: 80px;
        padding-bottom: 80px;
        padding-left: 80px;
    }

    .headshot{
        border-radius: 50%;
    }

    .action{
        color: white;
        font-size: 18px;
        font-weight: bold;
    }

    .founder{
        color: white;
        font-size: 14px;
        width: 450px;
    }
    
    .access{
        color: #0E0E55;
        font-weight: bold;
        background-color: #5CFF5C;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-right: 30px;
        padding-left: 30px;
        border: none;
    }

    .button{
        background-color: #000035;
        padding-top: 15px;
        padding-right: 30px;
        padding-bottom: 25px;
        padding-left: 30px;
        width: fit-content;
    }

    .shot{
        display: flex;
        justify-content: center;
        
    }

    .cta{
       position: relative;
       left: 750px;
       bottom: 105px;
    }   

    .work{
        color: #470047;
        font-size: 20px;
        text-align: center;
        padding-top: 0px;
        padding-bottom: 60px;
    }


    

    